*,
*::before,
*::after {
    font-family: Comfortaa, Roboto, Arial, Helvetica, sans-serif;
    vertical-align: middle;
    border: 0px solid black;
    color: black;
    border-collapse: collapse;
}

:root {
    --document-width: max(100%, 100vw);
    --document-height: max(100%, 100vh);
    --banner-size: 200px;
    --avatar-size: 150px;
    --cover-percent: 0.7;
    --block1: calc(var(--avatar-size) * var(--cover-percent));
    --block2: calc(var(--avatar-size) - var(--block1));

    --body-offset: calc(
        99vh - var(--banner-size) - var(--block2) - 25px - var(--footer-size)
    );

    --footer-size: 100px;
}

body {
    height: var(--document-height);
    width: var(--document-width);
    margin: 0px;
    padding: 0px;
}

div.header {
    position: sticky;
    top: 0px;
    height: fit-content;
    width: 100%;
    margin: 0px;
}

div.header table.header-info {
    margin-top: calc(var(--block1) * -1);
    height: var(--avatar-size);
}

div.header img.banner {
    position: static;
    width: 100%;
    height: var(--banner-size);
    object-fit: cover;
    z-index: -1;
}

div.header img.avatar {
    position: relative;
    border-radius: 15%;
    width: var(--avatar-size);
    z-index: 100;
    margin: 0px 25px;
}

div.header div.name {
    display: table-cell;
    height: var(--block1);
    font-size: 3rem;
    color: white;
    font-weight: 900;
    vertical-align: middle;
}

div.header img.name {
    height: 2rem;
    margin: 0px 0px 0px 0.75rem;
}

div.header div.quote {
    color: black;
    display: table-cell;
    height: var(--block2);
    font-size: 1.5rem;
    vertical-align: middle;
    font-weight: 700;
}

div.footer {
    position: sticky;
    bottom: 0px;
    width: 100%;
    margin: 0px;
    height: fit-content;
}
div.footer table {
    width: max-content;
    height: var(--footer-size);
    table-layout: auto;
    text-align: center;
    margin: 0px 0px 0px auto;
}

div.footer img.banner {
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    object-fit: cover;
    border-radius: 0%;
    z-index: -1;
}

div.footer img {
    position: relative;
    height: calc(var(--footer-size) * 0.75);
    border-radius: 5%;
    object-fit: cover;
}

div.footer td {
    color: white;
    width: max-content;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding: 0px 10px;
}

div.footer td.contact0 {
    font-size: 1.7rem;
    font-weight: 900;
}
div.footer td.contact1 {
    text-align: right;
    font-size: 1.5rem;
    font-weight: 600;
    vertical-align: bottom;
    padding-bottom: 1%;
}
div.footer td.contact2 {
    text-align: right;
    font-size: 1.1rem;
    font-weight: 500;
    vertical-align: top;
    padding-top: 1%;
}

/* Style the tab */
div.body {
    position: relative;
    z-index: 1000;
    margin-top: 25px;
    min-height: var(--body-offset);
}

.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

/* Style the buttons that are used to open the tab content */
.tab button {
    background-color: inherit;
    font-size: 1rem;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
    background-color: #ccc;
}

/* Style the tab content */
div.tabcontent {
    display: none;
    padding: 12px 12px;
}

div.tabcontent.default {
    display: block;
}

table#mp3_player {
    display: table;
    margin-top: 25px;
}

table#mp3_player canvas#analyser_render {
    height: 300px;
    width: 100%;
    min-width: 500px;
    border: 1px dotted grey;
    border-radius: 25px;
    z-index: -1;
    margin: 0px;
    padding: 0px;
}

table#mp3_player div#audio_box {
    max-height: 50px;
    position: absolute;
    margin-top: -60px;
    margin-left: 50px;
    width: max-content;
    min-width: 400px;
}

table#mp3_player div#audio_box audio {
    max-height: 50px;
    width: 100%;
    border-radius: none;
    background-color: none;
}

table#mp3_player div.song_name {
    position: relative;
    white-space: nowrap;
    overflow: hidden;
    text-align: right;
    margin: 0px 50px -50px 0px;
    padding: 0px;
    font-size: 1.25rem;
    font-weight: 600;
}

table#CountingGame,
table#CountingGame table {
    margin: 5px 10px;
}

table#CountingGame img {
    width: 150px;
    border-radius: 5%;
}

table#CountingGame button {
    background-color: lightgray;
    border: 1px dotted lightgrey;
    border-radius: 10px;
    margin: 5px;
    padding: 10px;
}

table#CountingGame button:active {
    background-color: gray;
}

table#CountingGame button:disabled {
    background-color: black;
    color: white;
}

table#CountingGame code {
    font-weight: 1000;
    margin: 5px;
}

div.Tic-tac-toe {
    display: grid;
    align-items: center;
    justify-items: center;
    justify-content: center;
    align-content: center;
    width: max-content;
    height: max-content;
    grid-template-columns: repeat(3, auto);
}

div.Tic-tac-toe .cell {
    --cell-size: 100px;
    --percent: 0.75;
    --sign-size: calc(var(--cell-size) * var(--percent));
    border: 1px solid black;
    width: var(--cell-size);
    height: var(--cell-size);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

div.Tic-tac-toe .cell:nth-child(1),
div.Tic-tac-toe .cell:nth-child(2),
div.Tic-tac-toe .cell:nth-child(3) {
    border-top: none;
}

div.Tic-tac-toe .cell:nth-child(3n + 3) {
    border-right: none;
}
div.Tic-tac-toe .cell:nth-child(3n + 1) {
    border-left: none;
}

div.Tic-tac-toe .cell:nth-child(7),
div.Tic-tac-toe .cell:nth-child(8),
div.Tic-tac-toe .cell:nth-child(9) {
    border-bottom: none;
}

div.Tic-tac-toe .cell.x,
div.Tic-tac-toe .cell.o {
    cursor: not-allowed;
}

div.Tic-tac-toe .cell.x::before,
div.Tic-tac-toe .cell.x::after,
div.Tic-tac-toe.x .cell:not(.x):not(.o):hover::before,
div.Tic-tac-toe.x .cell:not(.x):not(.o):hover::after {
    content: "";
    height: calc(var(--sign-size) * 0.95);
    width: calc(var(--sign-size) * 0.15);
    position: absolute;
}

div.Tic-tac-toe .cell.x::before,
div.Tic-tac-toe .cell.x::after {
    background-color: #555;
}

div.Tic-tac-toe.x .cell:not(.x):not(.o):hover::before,
div.Tic-tac-toe.x .cell:not(.x):not(.o):hover::after {
    background-color: lightgray;
}

div.Tic-tac-toe .cell.x::before,
div.Tic-tac-toe.x .cell:not(.x):not(.o):hover::before {
    transform: rotate(45deg);
}

div.Tic-tac-toe .cell.x::after,
div.Tic-tac-toe.x .cell:hover::after {
    transform: rotate(-45deg);
}

div.Tic-tac-toe .cell.o::before,
div.Tic-tac-toe .cell.o::after,
div.Tic-tac-toe.o .cell:not(.x):not(.o):hover::before,
div.Tic-tac-toe.o .cell:not(.x):not(.o):hover::after {
    content: "";
    position: absolute;
    border-radius: 50%;
}

div.Tic-tac-toe .cell.o::before,
div.Tic-tac-toe.o .cell:not(.x):not(.o):hover::before {
    height: calc(var(--sign-size) * 0.95);
    width: calc(var(--sign-size) * 0.95);
}

div.Tic-tac-toe .cell.o::before {
    background-color: #555;
}
div.Tic-tac-toe.o .cell:not(.x):not(.o):hover::before {
    background-color: lightgray;
}

div.Tic-tac-toe .cell.o::after,
div.Tic-tac-toe.o .cell:not(.x):not(.o):hover::after {
    height: calc(var(--sign-size) * 0.65);
    width: calc(var(--sign-size) * 0.65);
    background-color: white;
}
